
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebooks/Untitled.ipynb
Slides/beamercolorthemejc.sty~
Slides/beamerinnerthemejc.sty~
Slides/beamerthemejc.sty~
Slides/Main.aux
Slides/Main.log
Slides/Main.nav
Slides/Main.out
Slides/Main.snm
Slides/Main.tex~
Slides/Main.toc
Slides/Main.vrb
